# Environments
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.local
.env.*.local

# Databases
*.sqlite3
*.sqlite3-journal

# Python Bytecode & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Static & Media Assets
staticfiles/
media/

# IDE & OS
.DS_Store
.vscode/
.idea/
